<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>presslytask</name>
	<displayName><![CDATA[Pressly Task]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Pressly interview task]]></description>
	<author><![CDATA[Rafał Wawiórka]]></author>
	<!-- <tab><![CDATA[analytics_stats]]></tab> -->
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
